/*========================================

Universal Styling

======================================*/


* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}


/* Header / top navigation bar */

.header-link,
header a {
    float: left;
    display: flex;
    font-size: 20px;
    padding: 15px;
    color: #353148;
}

.header-link {
    background-color: #E8AA42;
    text-decoration: none;
}

header {
    background-color: #353148;
    padding: 50px;
    border-bottom: 1px solid #E8AA42;
}

nav {
    float: right;
}

nav a {
    margin-left: 15px;
    font-size: 17px;
    text-decoration: none;
    color: #E8AA42;
}


/* Body */

body {
    background: url(assets/moroccan-flower.png);
}

h1,
h2,
h3 {
    font-size: 18px;
    padding: 13px;
    border-bottom: 1px solid #E8AA42;
    color: #353148;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


.img-picsum {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 15px;
}

article {
    float: left;
    max-width: 590px;
    margin-top: 5px;
    background-color: white;
}

p {
    font-size: 15px;
    padding-top: 10px;
    line-height: 140%;
    margin: 10px;
}

/* Sidebar */

aside {
    float: right;
    display: block;
    margin-top: 5px;
    background-color: white;
}

aside>nav {
    display: flex;
    padding: 10px 0px;
}

.social-icon {
    width: 30px;
    height: 30px;

}


/* Footer */

footer {
    text-align: left;
}

main::after {
    content: "";
    clear: both;
    display: block;
}